 	<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
 		<ul>
 			<li class="card-img">
 				<img src="https://placeimg.com/380/230/nature" alt="">
				<span><h4>{{destino.nombre}}</h4></span>
				<span><h4>{{posicion}}</h4></span>
			</li>
 			<li class="card-desc">
 				<h3>{{destino.nombre}}</h3>
				<p>Servicios</p>
				<ul>
					<li *ngFor="let s of destino.servicios">
						<span [ngSwitch] = "s">
							<i *ngSwitchCase="'Desayuno'" style = "color:red;">
								{{s}}
							</i>
							<i *ngSwitchDefault>
								{{s}}
							</i>
						</span>
					</li>
				</ul>
				<div>
					<a href="#"  (click)="voteUP()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
						<i class="material-icons md-18">thumb_up</i>
					</a>
					<a href="#"  (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
						<i class="material-icons md-18">thumb_down</i>
					</a>
					{{destino.votes}}
				</div>
				<p>Lorem, ipsum dolor sit amet.</p> 
 				<a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_favorito lista_destinos_item">Ir</a> 
				<!--<span [style.display]="destino.isSelected() ? '' : 'none'">- PREFERIDO -</span>-->
				<span *ngIf="destino.isSelected()">
					<!--Contenido no bindiable a directivas de angular-->
					<span ngNonBindable>
						{{PREFERIDO}}
					</span>
				</span>
				<a [routerLink]="['/destino']">Ver Detalle</a>
 			</li>
 		</ul>	
 </div>
 		<!--<div class="card-img">

 			<img src="https://placeimg.com/380/230/nature" alt="">

 			<span><h4>{{destino.nombre}}</h4></span>

 		</div>

 		<div>

 			<h3>{{destino.nombre}}</h3>

 			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatisvoluptas totam</p>

 			<a href="#" class="btn-card">Read</a> 

 		</div>-->

 