 	<div class="card-content">
 		<ul>
 			<li class="card-img">
 				<img src="https://placeimg.com/380/230/nature" alt="">
				<span><h4>{{destino.nombre}}</h4></span>
				<span><h4>{{posicion}}</h4></span>
 			</li>
 			<li  class="card-desc">
 				<h3>{{destino.nombre}}</h3>
				<p>Servicios</p>
				<ul>
					<li *ngFor="let s of destino.servicios">
						<span [ngSwitch] = "s">
							<i *ngSwitchCase="'Desayuno'" style = "color:red;">
								{{s}}
							</i>
							<i *ngSwitchDefault>
								{{s}}
							</i>
						</span>
					</li>
				</ul>
				<p>Lorem ipsum dolor sit amet.</p>
 				<a href="#" class="btn-card" (click)="ir()">Ir</a> 
				<!--<span [style.display]="destino.isSelected() ? '' : 'none'">- PREFERIDO -</span>-->
				<span *ngIf="destino.isSelected()">
					<!--Contenido no bindiable a directivas de angular no usa la directiva angular-->
					<span ngNonBindable>
						{{PREFERIDO}}
					</span>
				</span>
 			</li>
 		</ul>	
 </div>
 		<!--<div class="card-img">

 			<img src="https://placeimg.com/380/230/nature" alt="">

 			<span><h4>{{destino.nombre}}</h4></span>

 		</div>

 		<div>

 			<h3>{{destino.nombre}}</h3>

 			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatisvoluptas totam</p>

 			<a href="#" class="btn-card">Read</a> 

 		</div>-->

 