<div class="container">
  <div class="page-header">
  	<div class="container">
  		<h1>Ruteo Simple</h1>
  		<div class="navLink">
  			<a [routerLink]="['/home']">Home</a> <!--En lugar de href se usa una directiva (modificador) de angular-->
  			<a [routerLink]="['/destino']">Destino</a>
  		</div>
  	</div>
  </div>	
  <div class="row">
    <h1>
      {{title}}
    </h1>
  </div>

<router-outlet></router-outlet>
<!-- cuando el modulo tiene configuradas rutas, determina como componente la ruta elegida-->
</div>