<div class="container">
  <div class="page-header">

    <div style= "float: right;">
      <select (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="en">English</option>
        <option value="fr">France</option>
      </select>
    </div>

  	<div class="container">
  		<h1>Ruteo Simple</h1>
  		<div class="navLink">
  			<a [routerLink]="['/home']">Home</a> <!--En lugar de href se usa una directiva (modificador) de angular-->
  			<a [routerLink]="['/destino']">Destino</a>
  		</div>
  	</div>
  </div>	
  <div class="row">
    <h1>
      {{title}} <b [innerHTML] = " 'HOLA' | translate"></b>
    </h1>
  </div>

<router-outlet></router-outlet>
<!-- cuando el modulo tiene configuradas rutas, determina como componente la ruta elegida-->
</div>

<hr class="mb-5">

Fecha: {{time | async}}

